.regular-icon-btn {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  border: 1px solid transparent;
  background: transparent;
  color: var(--semi-color-app-text-0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s;
  flex-shrink: 0;
}

.regular-icon-btn:hover {
  background: rgba(0, 0, 0, 0.05);
  color: var(--semi-color-app-text-0);
}

.regular-icon-btn.outlined {
  border-color: var(--semi-App-grey-1);
}
