.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-text {
  font-size: 12px;
  font-weight: 600;
  color: var(--semi-App-grey-3);
  text-transform: none;
  letter-spacing: normal;
}

.title-right {
  display: flex;
  align-items: center;
}
